OLLAMA_ENABLED=true #setting to true will use ollama.
OLLAMA_CHAT_MODEL=llama3.1:8b #ollama pull llama3.1:8b to run this.
OLLAMA_EMBEDDING_MODEL=bge-m3:latest #use ollama pull bge-m3:latest to use this.
OLLAMA_HOST=192.168.1.107 # you must define your IP here - can be loocalhost
OLLAMA_PORT=11434 #do not change, unless you have it differently configured.
OPENAI_ENABLED=false #will only use openai if set to true.
OPENAI_EMBEDDING_MODEL=text-embedding-3-small # recommended for price/and good results.
OPENAI_API_KEY=YOU_OPENAI_KEY_HERE
QDRANT_HOST=qdrant #do not change.
QDRANT_PORT=6333 #do not change.
QDRANT_COLLECTION=pdfllm_collection #do not change.